<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="/static/campdle.js"></script>
		<link rel="stylesheet" href="/static/index.css">
	</head>

	<body onload="load_campdle_image_of_day()">
		<h1>Campdle</h1>
        <a2>Where on campus are you?</a2>
		<br>
		<br>
		<canvas id="campdle_image_of_day"></canvas>
		<!-- end overlay name is generic because I assume we will want the same styling for all end screens -->
		<div id="campdle_end_overlay" name="end_overlay"></div>
		<div id="campdle_controls">

		</div>
	</body>
</html>

